<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>myeeeVue</title>
        <!-- <link rel="stylesheet" href="style.css" /> -->
        <!-- <link rel="shortcut icon" href="/static/favicon.png" type="image/png" /> -->
        <style>
            .flag {
                transition: all .5s ease;
                height: 300px;
                padding: 10px;
                background-color: #eee;
                overflow: hidden;
            }
            .flag.expand-enter, .flag.expand-leave {
                height: 0;
                padding: 0 10px;
                opacity: 0;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div>{{ intro | lowercase | reverse}}</div>
            <div>Author: {{ fullName }}</div>
            <button v-on:click='changeFirstName'>changeFirstName</button>
            <button v-on:click='changeLastName'>changeLastName</button>
            <div>Header: {{intro}} -- {{title}} by Yang Jiang</div> 
            <div v-transition='expand' v-if='flag' class='flag'>
                <p v-text="word"></p>
                <input type="text" v-model="word">
                <button v-on:click='changeWord'>click to change</button>
            </div>
            <button v-on:click='changeFlag'>click to hide</button>
            <div v-show='showEl'>
                <p>v-repeat is too complicated, so implement it later</p>
                <p>right now work on v-show</p>
            </div>
            <button v-on:click='changeShow'>hide show</button>
            <div v-component="my-component">test</div>

            <!-- <div> {{ c }}</div>
            <button v-on:click='addData'>click to add</button>
            <button v-on:click='deleteData'>click to delete</button> -->
            
            <!-- <div v-text='simpleArr' id='test'></div>
            <button v-on:click='changeSimpleArr'>click to add</button>
            <div v-text='nestedArr'></div>
            <button v-on:click='changeNestedArr'>click to add</button>
            <div v-text='objArr[0].a'></div>
            <button v-on:click='changeObjArr'>click to add</button> -->

            <!-- test batcher update -->
            <!-- <div>{{ intro }}</div>
            <button v-on:click='batchUpdate'>batch updates</button>  -->

            <div>{{ b.c }}</div>
            <button v-on:click='watchValue'>test</button>
        </div>
    </body>
</html>
