<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>myeeeVue</title>
        <!-- <link rel="stylesheet" href="style.css" /> -->
        <!-- <link rel="shortcut icon" href="/static/favicon.png" type="image/png" /> -->
    </head>
    <body>
        <div id="app">
            <div>{{ intro | uppercase}}</div>
            <!-- <div>Header: {{intro}} -- {{title}} by Yang Jiang</div>
            <div v-if='flag'>
                <p v-text="word"></p>
                <input type="text" v-model="word">
                <button v-on:click='changeWord'>click to change</button>
            </div>
            <button v-on:click='changeFlag'>click to hide</button>
            <div v-show='showEl'>
                <p>v-repeat is too complicated, so implement it later</p>
                <p>right now work on v-show</p>
            </div>
            <button v-on:click='changeShow'>hide show</button> -->
        </div>
    </body>
</html>
